@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --color1: #5b0000 ;
    --color2: #701a23 ;
    --color3: #5e1117 ;
    --color4: #4b090c ;
    --color5: #390000 ;
    --color6: rgb(19, 0, 0);
}


* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

body{
    
}

::-webkit-scrollbar {
    height: 0%;
    width: 0%;
}

header {
    background-color: var(--color6);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    width: 23vw;
    height: 3.5vh;
    background-color: rgb(34, 34, 34);
    align-items: center;
    padding: 3px;
    border-radius: 20px;
    justify-content: space-between;
}

.pesquisar__bottom {
    height: 2.2vh;
    margin-right: 15px;
}

.pesquisa__input {
    height: 3.5vh;
    border-radius: 20px;
    width: 19vw;
}

header > h1 {
    font-size: larger;
    color: rgba(255, 255, 255, 0.852);

}

/*---------------------------------*/

.Inicio {
    height: 59vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;
}

.Inicio > a > img {
    width: 250px;
    height: 350px;
    
}

.Inicio > a > img:hover {
    transform: scale(105%);
    filter: grayscale(70%);
    transition: 1s;

}

.deadpool__legenda > a > img {
    overflow: hidden;
    width: 75%;
}

.deadpool__legenda > a > img:hover {
    filter: grayscale(70%);
    transition: 1s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.deadpool__legenda:hover {
    color: rgb(110, 13, 13);
    transition: 1s;
    
}

.deadpool__legenda {
    position: relative;
    color: white;
    -webkit-transition: -webkit-transform .5s ease;
    transition: .5s ease;
    overflow: hidden;
}

.deadpool__legenda > p{
    position: absolute;
    bottom: 15%;
    left: 10%;
    font-size: 100%;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-family: "Roboto Condensed", sans-serif;;
    width: 75%;
}

.deadpool {
    
}

.badboys{
    margin-left: 0.5vw;
}

.semregras {
    margin-left: 0.5vw;
}

.depoisda {
    margin-left: 0.5vw;
}

/*---------------------------------*/

.fundo {
    background-image: url(Fotos/netflix-library-1280x720.webp);
    background-size: cover;
    background-attachment: fixed;
}

.filmes__titulo > h1 {
    color:rgba(255, 255, 255, 0.852);
    font-size: larger;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 2px 2px 1px black;
}

.container{
    display: flex;
    box-shadow: 0px -6px 5px #00000080;
    background-color: var(--color6);
    padding-bottom: 20px;
}

.container__filmes {
    background-color: rgb(19, 0, 0);
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    width: 70vw;
    padding-top: 40px;
    
}

.conteiner__conteiner > h1 {
    padding: 20px;
    padding-top: 30px;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
}

.conteiner__conteiner {
    background-color: var(--color6);
    height: 100vh;
}

.redes_sociais {
    background-color: var(--color6);
    width: 30vw;
}

.sawof {
    color: white;
    overflow: hidden;
}

.sawof > p {
font-family: "Roboto Condensed", sans-serif;
text-align: start;
margin-top: 10px;
}

.sawof > a > img {
    width: 160px;
    height: 220px;
    overflow: hidden;
}

.sawof > a > img:hover {
    filter: grayscale(70%);
    transition: 1s;
    transform: scale(110%);
}

/*----------------*/

.recomendado {
    color: white;
    

}

.li__item{
    display: flex;
    align-items: center;
    color: white;
    margin-left: 2vw;
    overflow: hidden;
}

.li__item > a > img {
    width: 75px;
    height: 110px;
    margin-top: 40px;
}

.li__item > p {
    margin-left: 2vw;
    width: 75%;
}

.redes_sociais > h1 {
    padding: 20px;
    padding-top: 30PX;
    text-align: center;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
}

.linha {
    margin-top: 40px;
    
}

.redes_sociais {
    
}

.li__item > a > img:hover {
    transform: scale(110%);
    transition: 1s;
    filter: grayscale(70%);
}

.sombra {
    background-color: var(--color6);
    height: 10px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

footer {
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > a {
    text-decoration: none;
}

footer > a:hover {
    color: var(--color6);
    transition: 1s;
}

@media only screen and (max-width: 500px)  {

    ::-webkit-scrollbar {
        height: 80%;
        width: 80%;
    }
    

    .container__filmes {
        overflow: scroll;
    }
    
    .conteiner__conteiner > h1 {
        padding: 20px;
        padding-top: 30px;
        color: white;
        font-family: "Roboto Condensed", sans-serif;

    }

    .li__item{
        width: 0%;
    }

    .linha {
        width: 0%;
    }

    .redes_sociais > h1 {
        width: 0%;
    }

    .redes_sociais {
        width: 0%;
    }

    .recomendado {
        width: 0%;
        
    
    }
    
    .Inicio {
       display: flex;
       flex-wrap: wrap;
        margin: 0 auto;
    
    }

    .Inicio > section {
        flex: 1 1 100px;

    }

    .deadpool__legenda > a > img {
        margin: 0px;
      
    }


    .container__filmes {
        display: flex;
        overflow: scroll;
    }

    .container__filmes > section {
        flex: 1 0 100px;
        margin: 0 10px;
    }
}