@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

body{
    
}

::-webkit-scrollbar {
    height: 0%;
    width: 0%;
}

header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    width: 23vw;
    height: 3.5vh;
    background-color: rgb(34, 34, 34);
    align-items: center;
    padding: 3px;
    border-radius: 20px;
    justify-content: space-between;
}

.pesquisar__bottom {
    height: 2.2vh;
    margin-right: 15px;
}

.pesquisa__input {
    height: 3.5vh;
    border-radius: 20px;
    width: 19vw;
}

header > h1 {
    font-size: larger;
    color: rgba(255, 255, 255, 0.852);

}

.Inicio {
    height: 59vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    border-radius: 0px 0px 20px 20px;
}

.Inicio > a > img {
    width: 250px;
    height: 350px;
}

.Inicio > a > img:hover {
    transform: scale(105%);
    filter: grayscale(70%);
    transition: 1s;
}

.deadpool__legenda > a > img:hover {
    filter: grayscale(70%);
    transition: 1s;
}

.deadpool__legenda:hover {
    color: darkgreen;
    transition: 1s;
}

.deadpool__legenda {
    position: relative;
    color: white;
}

.deadpool__legenda > a > img {
    
}

.deadpool__legenda > p{
    position: absolute;
    bottom: 15%;
    left: 10%;
    font-size: 100%;
}

.badboys {
    margin-left: 0.7vw;
}

.semregras > a > img {
    margin-left: 0.7vw;
}



.fundo {
    background-image: url(Fotos/netflix-library-1280x720.webp);
    background-size: cover;
    background-attachment: fixed;
}

.filmes__titulo > h1 {
    color:rgba(255, 255, 255, 0.852);
    font-size: larger;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 2px 2px 1px black;
}

.container__filmes {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    height: 700px;
    padding-top: 40px;
    box-shadow: 0px -6px 5px #00000080;
    border-radius: 10px 10px;
}

.container__filmes > a > img {
    width: 160px;
    height: 220px;
}

.container__filmes > a > img:hover {
    transform: scale(105%);
    filter: grayscale(70%);
    transition: 1s;
}

/*----------------*/





